{% load static %}  
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ schema.info.title }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'drf-yasg/swagger-ui.css' %}">
        <link rel="icon" type="image/png" href="{% static 'drf-yasg/favicon-32x32.png' %}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{% static 'drf-yasg/favicon-16x16.png' %}" sizes="16x16" />
        
    </head>

    <body>
        <div class="logo-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
        </div>
        <div id="swagger-ui"></div>
        <script src="{% static 'drf-yasg/swagger-ui-bundle.js' %}"></script>
        <script src="{% static 'drf-yasg/swagger-ui-standalone.js' %}"></script>
        <script>
            window.onload = function() {
                const ui = SwaggerUIBundle({
                    url: "{% url schema_url %}",
                    dom_id: #swagger-ui,
                    presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset
                    ],
                    layout: "StandaloneLayeout"
                });
                window.ui = ui;
            };
        </script>

        

    </body>
</html>